.container{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

h1 {
  color:rgb(69, 102, 58);
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

