.grid-container {
    position: relative; 
    display: grid;
    float: left;
    width: 85%;
    margin: 20px;
    height: 100vh;
    padding-top:50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    justify-content: space-around;
    align-items: top;
}

