.list-container {
    padding-top: 25px;
}

.list-segment {
    min-height: 350px;
    height: 350px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.create-list {
    justify-content: right;
}
