.loginPageContainer{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.loginModal {
    width: 30%;
    min-height: 50%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    border: solid black;
    border-width: .75rem;
}
.tripperLogo{
    width: 100%
}

.inputArea{
    width: 100%;
    margin: 2rem 0 2rem 0;   
}


.inputField{
    display: block;
    width: 100%;
}

.link{
    display: block;
    width: 100%;
    background:none;
    border:none;
    color:blue;
}
