
/* Left Side of the Group Page */
.leftSide{

    position:sticky;
    left:0;
    height:700px;
    width: 700px !important;
    max-width: 20%;
    margin: 0% !important;
    display: inline-block;
    position: relative;
    margin-bottom: 100%;
}

.groupLink{
    position:sticky;

    width: 110px;
    height: auto;
    min-height: 15%;
    margin-top:15%;
    margin-left: 55%;
    background-color: rgb(204,240,192);
    border-radius: 10%;
    display: inline-block;
    font-size: large;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px solid rgb(49,69,44);
}

.groupLink:hover {
    box-shadow: 0 0 32px 0 rgba(0,0,0,0.2);
}

.link{
    font-size: medium;
    position:relative;
    left: 5%;
    top:40px;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: "Helvetica", sans-serif;
    color: rgb(69, 102, 58) !important;
    text-decoration: solid;
    justify-content: center;
    cursor: pointer;
}

.caption {
    position: relative;
    left: 5%;
    top: 30px;
    padding: 0!important;
    font-family: "Helvetica", sans-serif;
    color: rgb(69, 102, 58) !important;
    text-decoration: solid;
}

.rightSide{
    position :sticky;
    background-color: transparent;
    float: right;
    width: 75%;
    height: 100vh !important;
    margin-right: 0%;

    /* margin-top: 3%; */
}

/* Start of Group Settings */
.groupSettings{
    position :static;
    background-color: transparent;
    float: left;
    width: 65%;
    height: 80vh !important;
    margin: 5%;
    margin-top: 0%;
    border-width: 1px;
    border-color: rgb(167, 211, 176);
    
}
 .groupName{
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 2% 0 0% 0;
    max-height: 5%;
    font-size: xx-large;
}

.data{
    position: static;
    height: 100% !important;
    width: 100%;
    display: inline-block;
    background-color: transparent;
}

.tripSettings{
    float: left;
    background-color: rgb(204,240,192);
    width: 45%;
    margin: 5% 0% !important;
    height:90%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    position: static;
    color: rgb(69, 102, 58) !important;
    min-height: 450px !important;
}
.innerDiv{
    height: 100%;
    width: 80%;
    margin: auto;
}
.inviteUsers{
    float: right;
    background-color: rgb(204,240,192);
    width: 45%;
    margin: 5% 0%;
    height:90%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    position: static;
    color: rgb(69, 102, 58) !important;
    min-height: 450px !important;
}
.tripSettingLabel{
    display: inline-block;
    text-align: center;
    width: 90%;
    vertical-align: top;
    margin: 5%;
}
.picture{
    height: 35%;
}
.pic{
    height: 50%;
    width:30%;
    margin: auto;
}
.upload{
    width: 35%;
    margin-left: 35%;
}
.inputName{
    margin: auto;
    display: block;
    
}

.updateName{
    text-align:center;

}
.location{
    position: relative;
    height: 20%;
    width: 70%;
    margin: auto;
    text-align:center;

}
.deleteTrip{
    height: 10%;
   text-align:center;
}
.inviteUsersTitle{
  
    display: inline-block;
    text-align: center;
    width: 90%;
    vertical-align: top;
    margin: 5%;
    height: 8%;
} 
.tripMembers{
    display: inline-block;
    text-align: center;
    width: 90%;
    vertical-align: top;
    margin: 5%;
    height:15%
}
.selectedPeople{
    margin: auto;
    height: auto;
    min-height:30%;
    width: 50%;
}
.person{
    width: 100%;
    margin: auto;
    vertical-align: top;
    position: relative;
    display: inline-block;
    text-align: center;
}


/* Start of Group List */
.groupList{
    position :relative;
    float: left;
    width: 65%;
    height: 50vh !important;
    margin: 5%;
    margin-top: 3%;
    margin-bottom: 1%;
    border: 1px;
    border-color: rgb(167, 211, 176);
    border-radius: 1%;
    border-style: solid;
}
.uploadPicture{
    height: 30px;
    width: 50%;
    float: left;
    margin-left: 5%;
}
.uploadButton{
    float: right;
}
.allLists{
    min-height:90% !important;
    min-width: 100% !important;
    position: relative;
}


.oneList{
    height: auto;
    width: auto;
    position: static;
}
/* .oneList{
    float: left;
    background-color:rgb(167, 211, 176);
    margin: 7% !important;
    min-height:10vh;
    min-width:10vh;
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    position: static;
    text-align: center;
} */
p{
    position: relative;
    top:10vh;
}
.invite{
    width: auto;
vertical-align: top;
position: relative;
display: inline-block;
text-align: center;

}